:host {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .movies-display {
    &__no-movies {
      display: grid;
      place-items: center;
    }
    &__error {
      display: grid;
      place-items: center;
    }
  }
}
